/* styles.css */
a{
    text-decoration: none;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index:100;
}

header nav a{
    color: #000;
    margin: right 5px;
    padding: 5px 10px;
    font-family: system-ui;
    font-size: 18px;
    transition: 0.2s;
}
header nav a.active, header nav a:hover{
    background:#14ff72cb;
    border-radius: 2px;
}
/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #00d5ff;
}

.map-container {
    background-color: #cce6f0; /* Soft sky blue background color */
    border: 5px solid #4CAF50; /* Border color and thickness */
    padding: 10px; /* Padding around the map */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.23); /* Shadow effect */
    border-radius: 10px; /* Rounded corners */
}
